* {
    color: white;
    font-family: 'Arial', sans-serif;
    overscroll-behavior: none;
}

.contract-main {
    background: linear-gradient(to right, #060606, #060332);
    height: 100%;
}

.contract-pdf {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-left: 310px;
    margin-top: 50px;
}

.contract-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.contract-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.contract-card-title {
    font-size: 26px;
    margin-bottom: 15px;
    color: #008000;
    font-weight: bold;
    text-align: center;
    margin-top: -10px;
}

.basic-info {
    margin-bottom: 20px;
    width: fit-content;
    text-align: left;
    margin-left: 25px;
}

.info-row {
    width: 48%;
    margin-bottom: 12px;
    display: inline-block;
    vertical-align: top;
}

.basic-info p {
    font-size: 16px;
    line-height: 1.6;
    margin: 8px 0;
    font-size: 19px;
}

.basic-info strong {
    color: #f1e790;
}

.no-info {
    font-size: 16px;
    color: #ff7043;
    text-align: center;
    margin-top: 20px;
}

.download-button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.download-button:hover {
    background-color: #0056b3;
}

.loading-text {
    font-size: 20px;
    color: #fff;
    text-align: center;
}
