    /* background: linear-gradient(to right, #060606, #060332); */
* {
    /* background: linear-gradient(to right, #060606, #060332); */
    color: white;
    overscroll-behavior: none;
}

.Main {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    background: linear-gradient(to right, #060606, #060332);
    height: 100%;
}

.Header {
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    border: 2px solid white;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
}

.Header.scrolled {
  backdrop-filter: blur(10px); /* Adds the glass effect */
  background: rgba(255, 255, 255, 0.4); /* Increase transparency for glass effect */
}

.Header img {
    width: 150px;
    height: 60px;
    background: transparent;
}
 

.uls {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    flex-direction: row;
    align-items: center; 
    gap: 20px; 
    margin-left: 400px;
    background: transparent;
  }
  
  /* nav list style */
  .uls li {
    cursor: pointer;
    padding: 10px 15px;
    font-size: 18px;
    color: #ffffff;
    transition: color 0.3s ease; 
    background: transparent;
  }
  
  .uls li:hover {
    color: #00bcd4; 
  }

  .Top-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    flex-grow: 2;
  }
  
  /* Search bar styles */
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    padding: 5px 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    margin-right: 15px;
    color: #060606;
  }
  
  .search-bar button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background-color: #00bcd4;
    border: none;
    border-radius: 0 5px 5px 0;
    color: white;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #0097a7;
  }
  
  .search-bar button svg {
    font-size: 20px;
    background: transparent;
  }


  .layers{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
  }

  .layer1{
    width: 30%;
    margin-top: 80px;
    margin-left: 50px;
    background-color: transparent;
    background: none;
    text-align: left;
    line-height: 1.5;
    font-size: x-large;
  }

  .description{
    font-size: medium;
    width: 120%;
    margin-bottom: 30px;
  }

  .video-controls {
    width: 90%;
    max-width: 800px; 
    height: 80%; 
    max-height: 600px;
    margin: 20px auto; 
    /* border: 2px solid white;  */
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin-top: 100px;
  }
  
  .styled-video {
    width: 100%; /* Make the video fit the container */
    height: auto; /* Keep the aspect ratio */
  }

  .layers2{
    display: flex;
    flex-direction: row;
  }

  .layer2 img{
    width:600px;
    height: 550px;
    opacity: 80%;
    margin-top: 100px;
    margin-left: 50px;
  }

  .content{
    margin-top: 50px;
    width: 40%;
    text-align: left;
    margin-left: 100px;
    line-height: 1.5;
    font-size: x-large;
  }

  .description2{
    font-size: medium;
    width: 120%;
    margin-bottom: 30px;
  }

  .cube{
    display: flex;
    flex-direction: column;
  }

  .cube1{
    margin-left: 750px;
    margin-top: -320px;
    /* border: 2px solid white; */
    justify-items: start;
    width: fit-content;
  }

  .cubeicon{
    font-size: xx-large;
    margin-left: 5px;
  }
  .cube2{
    margin-left: 1100px;
    margin-top: -220px;
    /* border: 2px solid white; */
    justify-items: start;
    width: fit-content;

  }

  .cubeicon{
    font-size: xx-large;
    margin-left: 5px;
  }

  .safety{
    justify-items: start;
    margin-left: 50px;
    margin-top: 100px;
    width: 450px;
    line-height: 1.5;
  }

  .description3{
    font-size: 20px;
    width: 180%;
    margin-bottom: 30px;
    text-align: left;
    line-height: 1.5;
}

.cubes{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.cube11{
    margin-left: 10px;
    margin-top: 20px;
    /* border: 2px solid white; */
    justify-items: start;
    width: 350px;
    /* width: fit-content; */
    text-align: left;
    line-height: 1.5;
  }

  .cube11 h2{
    margin-left: 0px;
  }

  .cube22{
    margin-left: 100px;
    margin-top: 20px;
    /* border: 2px solid white; */
    justify-items: start;
    width: 350px;
    /* width: fit-content; */
    text-align: left;
    line-height: 1.5;
  }
  .cube22 h2{
    margin-left: 0px;
  }

  .cube3{
    margin-left: 100px;
    margin-top: 20px;
    /* border: 2px solid white; */
    justify-items: start;
    width: 350px;
    /* width: fit-content; */
    text-align: left;
    line-height: 1.5;
  }
  .cube3 h2{
    margin-left: 0px;
  }

  /* safety */
  .safety-detail{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    justify-items: start;
  }

  .safety-details{
    text-align: left;
    line-height: 1.5;
    font-size: x-large;
    width: 40%;
  }

  .safety-details img {
    width:600px;
    height: 530px;
    opacity: 80%;
    margin-bottom: 100px;
  }

  .safetycontent{
    margin-top: -690px;
    width: 40%;
    text-align: left;
    margin-left: 700px;
    line-height: 1.5;
    font-size: x-large;
  }

  .safetydescription2{
    font-size: medium;
    width: 120%;
    margin-bottom: 30px;
  }

  .safetycube{
    display: flex;
    flex-direction: column;
  }

  .safetycube1{
    margin-left: 700px;
    margin-top: -20px;
    /* border: 2px solid white; */
    justify-items: start;
    width: fit-content;
  }
  .safetycube1 h2{
    margin-left: 0px;
  }

  .safetycube2{
    margin-left: 1100px;
    margin-top: -240px;
    /* border: 2px solid white; */
    justify-items: start;
    width: fit-content;
  }
  .safetycube2 h2{
    margin-left: 0px;
  }


  /* profile view */
  .profile img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  
  .profile{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-top: 65px;
    gap: 40px;

  }

  .profile1{
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    margin-top: 65px;
  }

  .pro1{
    /* border: 2px solid white; */
    width: 300px;
    height: fit-content;
  }
  .pro1 h2{
    margin-left: 0px;
  }
  .pro1 h3{
    margin-left: 0px;
  }

  .pro2{
    /* border: 2px solid white; */
    width: 300px;
    height: fit-content;
  }
  .pro2 h2{
    margin-left: 0px;
  }
  .pro2 h3{
    margin-left: 0px;
  }

  .pro3{
    /* border: 2px solid white; */
    width: 300px;
    height: fit-content;
  }
  .pro3 h2{
    margin-left: 0px;
  }
  .pro3 h3{
    margin-left: 0px;
  }

  .pro4{
    /* border: 2px solid white; */
    width: 300px;
    height: fit-content;
  }
  .pro4 h2{
    margin-left: 0px;
  }
  .pro4 h3{
    margin-left: 0px;
  }


  .icons{
    display: flex;
    flex-direction: row;
    font-size: x-large;
    margin-left: 100px;
    gap: 15px; /* Space between the icons */
    /* justify-content: space-between; */
    align-items: center;
    margin-top: -35px;
  }

  .guide{
    line-height: 1.5;
    font-size: x-large;
    width: 750px;
    margin-left:150px; 
  }

  .contactheading{
    border: 2px solid white;
    height: 20px;
    margin-top: 50px;
    padding-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
  }

  .contactdesc{
    display: flex;
    flex-direction: row;
  }

  .contactsub1{
    font-size: 35px;
    width: 600px;
    text-align: left;
    margin-left: 60px;
    font-weight: bold;
    line-height: 1.5;
  }

  .contactsub2{
    font-size: 20px;
    width: 800px;
    text-align: left;
    margin-top: 25px;
  }


  /* Demo */
  .Memebers h1{
    align-items: center;
    }

    