.register-video-controls {
    position: relative; 
    width: 100%;
    height: 730px;
    overflow: hidden;
}

input::placeholder {
    color: white; 
    opacity: 1; 
  }

.register-styled-videos {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    min-width: 100%; 
    min-height: 100%; 
    object-fit: cover; 
    z-index: -1; 
}

.Register-form {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 2rem;
    text-align: center;
    z-index: 1; 
    width: 659px;
    height: 510px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #FFF;
    background: rgba(217, 217, 217, 0.20);
    backdrop-filter: blur(5.5px);
}

.register-logo{
    width: 200px;
    height: 80px;
    margin-top: 50px;
}

.register-title{
    margin-left: -0px;
    margin-top: 5px;
    font-family: Saira;
    font-weight: 400;
    color: black;
}
